*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
     background-image: url(ima7.jpg);
     background-size:convber
     background-position: center;
     box-sizing: border-box;
     font-family:sans-serif;
 }

.main{
    text-align: center;
    background:green ;

    color:#fff;
}
.main ul{
    display: inline-flex;
    list-style: none;
    color:#fff;
}

.main ul li {
    width:120px;
    margin:15px;
    padding:15px;
}

.main ul li a{
    text-decoration: none;
    color: white;
}
.active , .main ul li:hover {
    background: #2bab0d;
    border-radius: 3px;
}
    
.button{
    position: absolute;
    top:95%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

.btn{
    border:1px solid #fff;
    padding: 10px 30px;
    background:lightyellow;
    color: green;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 50px;
}
.btn:hover {
    background-color: #fff;
    color:black;
}

.sea {
    position: absolute;
     top: 50%;
     left: 50%;
      transform: translate(-50%,-50%);
     
}

input{
    border: 3px solid ghostwhite;
    height: 40px;
    width: 400px;
    border-radius: 50px;
    padding: 0px 10px;
}


