*{
    position:relative;
     background-color: aqua;
  }
 ul{
     font-size: 28px;
 }
 ol{
    font-size: 28px;
}
  p{
      font-size: 30px;
  }
  
  h1{
    text-align:center;
    color: red;
  }
  
  div{
   text-align:center;
     
  }